.input {
  display: block;
  width: 100%;
  max-width: 50px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  text-align: center;

  &--full {
    max-width: 100%;
    text-align: left;
  }

  &.invalid {
    border-color: tomato;
  }
}
